body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: #111;
  }
  
  .project-details {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
  }
  
  .project-intro h1 {
    font-size: 2.5rem;
    color: #bbb;
  }
  
  .project-intro p {
    font-size: 1.1rem;
    margin-top: 10px;
    color: #bbb;
  }
  
  .project-content {
    display: flex;
    align-items: center;
    margin-top: 50px;
    width: 100%;
  }
  
  .project-content:nth-child(even) {
    flex-direction: row-reverse;
  }
  
  .project-image {
    flex-shrink: 0.7;
  }
  
  .project-description {
    flex-shrink: 1;
    padding: 20px;
    text-align: justify;
  }
  
  .project-image img {
    width: 100%;
    max-width: 1800px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }
  
  .project-description h2 {
    color: #bbb;
    text-align: left;
  }
  
  .project-description p {
    color: #bbb;
  }

  .project-conclusion {
    margin-top: 50px;
    color: #bbb;
  }
  
  @media (max-width: 768px) {
    .project-content {
      flex-direction: column;
    }
  
    .project-image img {
      max-width: 100%;
    }
  
    .project-description {
      padding-left: 0;
      padding-top: 20px;
    }
  }
  